extends ../layout

block content 
    a(href="/usuarios") volver

    br
    br
    br 

    h1 Actualizanco Usuarios

    br
    br

    form(action=`/usuarios/${usuario.id}/update` method='post')
        .form-group
            label(for='nombre') Nombre:
            input#nombre.form-control(type='text' name="nombre" value=usuario.nombre class=errors.nombre ?  'is-invalid' : '')
            if errors.nombre
                small#nombreHelp.text-danger
                = errors.nombre.message
            label(for="verificado") verificado:
            input#verificado(type='text' name="verificado" value=usuario.verificado ? 'true' : 'false')
        br
        br
        input.btn(type='submit' value='OK')
